/**
 * Place your custom CSS styles here.
 **/

 .mute-background {
     background-color: red;
 }

 .cam-background {
    background-color: red;
 }

 .cam-hide {
    display: none;
 }

 /* [class*="mute-button"] [class*="isOff"] {
    opacity: 0;
 } */