@charset "utf-8";
div.dataset .clearfix:after { content: "."; visibility: hidden; display: block; height: 0; clear: both;}

div.dataset {font-size:1em;}
div.dataset input, div.dataset select, div.dataset textarea {font-family:verdana;font-size:11px;background-color:#fff;border:1px solid #999;border-radius:3px;padding:1px;width:150px}
div.dataset textarea {width:95%;height:100px}
div.dataset input[type=checkbox], div.dataset input[type=radio] {width:auto;vertical-align:middle;margin-right:10px}
div.dataset a.button {color:#000;display:inline-block;border:1px solid #aaa;background-color:#eee;border-radius:5px;min-width:4em;cursor:pointer;padding:3px;line-height: 11px;text-align:center;background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);user-select: none;-moz-user-select: none}
div.dataset a.button.margin  {margin-right:5em}
div.dataset a.button:hover {background-color:#fff;background-image: linear-gradient(to bottom, #E6E6E6, #FFFFFF);text-decoration:none}
div.dataset a.button img {vertical-align:middle;}
div.dataset a.button.layout-table {background:url(/img/dataset/layout_table.png) no-repeat scroll center center #fff;min-width:21px;padding:3px 0}
div.dataset a.button.layout-grid {background:url(/img/dataset/layout_grid.png) no-repeat scroll center center #fff;min-width:21px;padding:3px 0}

div.dataset .loading1 {background-image: url("/img/dataset/ajax-loader-4.gif") !important;}

div.dataset div.table {position:relative}
div.dataset div.table td.dataset {max-width:350px}
div.dataset div.back {margin-bottom:0px;position:relative}
div.dataset div.block {border-bottom: 1px solid #ccc;margin-bottom:0px;margin-top:0px;position:relative}
div.dataset div.info {background-color:#FBFCC2;margin:10px;padding:5px 10px;color:#444;border:1px solid #ccc;border-radius:4px;font-style:italic;}

div.dataset div.header {color:#000;padding:0 0 0 10px;line-height:27px;user-select: none;-moz-user-select: none;border-top:0px solid #ccc;border-bottom:1px solid #ccc;background-color: #eee;}
div.dataset span.title {line-height:22px;font-size:1.2em;font-weight:bold}		/* line-height: to match buttons */
div.dataset span.openclose {cursor:pointer;background: url("/img/dataset/caret_right.png") no-repeat scroll 5px center transparent;padding-left: 20px;}
div.dataset span.open {background-image: url("/img/dataset/caret_down.png")}
div.dataset div.buttons {position:absolute;right:10px;top:4px}

/* general rules for table dataset */
div.dataset table {width: 100%;margin:25px 0}

div.dataset table.autocolumns1 th.dataset {width:16%}
div.dataset table.autocolumns1 td.dataset {width:84%}
div.dataset table.autocolumns2 th.dataset {width:16%}
div.dataset table.autocolumns2 td.dataset {width:33%}

div.dataset table th.dataset, div.dataset table td.dataset {border-color:#ccc #fff; border-style:solid; border-width: 1px 5px 1px 0;padding:5px; vertical-align:middle}
div.dataset table th.dataset {color:#444; border-color:#666 #fff; text-align:left; font-style:italic; font-weight: normal}
div.dataset table th.dataset:last-child, div.dataset table td.dataset:last-child {border-width:1px 0px }

div.dataset table.table tbody tr {cursor:pointer}
div.dataset table.data th.dataset {text-align:right;border-color:#fff;background-color: #f3f3f3;padding-right:10px}
div.dataset table.data td.dataset {min-height:17px}					/* to keep same height when editing */

div.dataset ul.tree {margin:10px}
div.dataset ul.tree ul.line{padding:3px 10px;border-bottom:1px solid #ccc;overflow:hidden}
div.dataset ul.tree ul.line:hover{background-color:#eee}
div.dataset ul.tree li.close > ul.leaf{display:none}
div.dataset ul.tree ul.line li{float:right;height:1.5em;line-height:1.5em;min-width:80px;text-align:center}
div.dataset ul.tree ul.line li.count0, div.dataset ul.tree ul.line li.count1{float:left;min-width:0px;text-align:left}

div.dataset ul.tree ul.line li.count1{padding-left:15px}
div.dataset ul.tree li.openclose > ul.line > li.count1{cursor:pointer;user-select: none;-moz-user-select: none;background: url("/img/dataset/caret_down.png") no-repeat scroll 5px center transparent;}
div.dataset ul.tree li.openclose.close > ul.line > li.count1{background-image: url("/img/dataset/caret_right.png")}
div.dataset ul.tree li.level1 li.count0 {margin-right:40px}
div.dataset ul.tree li.level2 li.count0 {margin-right:60px}
div.dataset ul.tree li.level3 li.count0 {margin-right:80px}
div.dataset ul.tree li.level4 li.count0 {margin-right:100px}
div.dataset ul.tree li.level5 li.count0 {margin-right:120px}

/*div.dataset ul.list li.dataset {float:left;text-align:center;vertical-align: bottom;border:0px solid #999;margin:0 10px 10px 0;min-height:128px;width:128px}   width if image are not cropped */
div.dataset ul.list li.dataset {float:left;text-align:center;vertical-align: bottom;border:0px solid #999;margin:0 10px 10px 0;min-height:128px}
div.dataset ul.grid {border: 1px solid #ccc;border-radius: 4px;margin: 5px;min-height: 82px;padding-left:60px}
div.dataset ul.grid.static {border-color: #FFFFFF #FFFFFF #CCCCCC;border-radius: 0 0 0 0;}
div.dataset ul.grid.hover, div.dataset ul.grid li.hover {border: 1px solid #000 !important}
div.dataset ul.grid.disabled li.grid {opacity:0.5}
div.dataset ul.grid.disabled:hover li.grid {opacity:1}
div.dataset ul.grid li.grid {position:relative;float:left;margin:5px;padding:5px;border:1px solid #ccc;border-radius: 4px;text-align:center;min-height:60px}
div.dataset ul.grid li.grid div.field_file{min-height:60px;}
div.dataset ul.grid li.multiple {border-color:#fff !important;box-shadow:0 0 4px #008;opacity:1 !important}
div.dataset ul.grid li.placeHolder {border-style:dashed;}
div.dataset ul.grid.placeHolder {border-style:dashed;}
div.dataset ul.grid li.first {border-color:#fff;margin-left:-60px;width:46px;position:relative;color:#444;font-style:italic}
div.dataset ul.grid li.first a {cursor:pointer;display:block;color:#444;font-style:normal;border:1px solid #ccc;border-radius:4px;width:15px;height:15px;margin:5px auto}
div.dataset ul.grid li.grid a.button {display:none;position:absolute;bottom:5px;left:10px;right:10px}	
div.dataset ul.grid li.grid:hover a.button {display:inline-block}	
div.dataset div.grid.edit {display:none;border: 1px solid #ccc;border-radius: 4px 4px 4px 4px;margin: 5px;}	/* the 'new/edit' div just before the ul of thumbs, slideDoen with js */

div.dataset div.onefield {text-align:center;margin:10px 0}			/* a onefield (layout=div) dataset_block */

div.popup {background-color:#fff;border:1px solid #999;box-shadow: 3px 3px 6px #000}		/* all popups (calendar, xselect,...) */
div.dataset input.cbyCalendar {background: url("/img/dataset/input_calendar.jpg") no-repeat scroll right center #fff;cursor:pointer}
div.dataset input.cbySelect {background: url("/img/dataset/input_select.png") no-repeat scroll right center #fff;padding-right:16px;cursor:pointer;width:134px}
div.cbyCalendar, div.cbySelect {z-index:10;border-radius:4px;padding:5px;}
div.cbyCalendar table {width:100%;margin:0}
div.cbyCalendar a {cursor:pointer;color:#000}
div.cbyCalendar a:hover {text-decoration:underline}
div.cbyCalendar table,.cbyCalendar table td {border-bottom:1px solid #000;border-collapse:collapse;padding:3px;text-align:center;/*line-height:14px;font-size:13px*/}
div.cbyCalendar td.today {background-color:#ccc}
div.cbyCalendar td.selected {background-color:#000}
div.cbyCalendar td.selected a {color:#fff}
div.cbyCalendar td.title {font-weight:bold}
div.cbyCalendar td.disabled {color:#999}
div.cbySelect > ul {max-height:200px;overflow:auto}
div.cbySelect div {border-bottom:1px solid #000;min-height:1.2em;text-align:left;padding:2px 2px 2px 14px;cursor:pointer;}
div.cbySelect div:hover {background-color:#ccc !important}
div.cbySelect div.checkbox {background: url("/img/dataset/checkbox_off.png") no-repeat scroll left center;}
div.cbySelect div.checkbox.selected {background-image:url("/img/dataset/checkbox_on.png");}
div.cbySelect div.category {background: url("/img/dataset/caret_right.png") no-repeat scroll left center;}
div.cbySelect div.category.open {background-image: url("/img/dataset/caret_down.png");}
div.cbySelect div.new {font-style:italic;color:#ddd}
div.cbySelect li li div.checkbox {background-position: 14px center;padding-left:28px}


.dataTables_wrapper {clear: both;min-height: 302px;padding: 0 10px;position: relative;}
.dataTables_wrapper table {clear:both}
.dataTables_length {		padding:20px 0 10px;float: left;width: 40%;}
.dataTables_filter {		padding:20px 0 10px;float: right;text-align: right;}
.dataTables_filter input {		color:#ff0000;}
.dataTables_info {		padding:00px 0 20px;float: left;width: 40%;}
.dataTables_paginate {	padding:00px 0 20px;float: right;text-align: right;}
.sorting {background: url("/img/dataset/sort_both.png") no-repeat scroll right center transparent;cursor: pointer;}
.sorting_asc {background: url("/img/dataset/sort_asc.png") no-repeat scroll right center transparent;cursor: pointer;}
.sorting_desc {background: url("/img/dataset/sort_desc.png") no-repeat scroll right center transparent;cursor: pointer;}
.paginate_button{cursor:pointer;border:1px solid #aaa;line-height: 11px;text-align:center;background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);border-radius:5px;min-width:4em;padding:3px;margin-left:3px}
.paginate_button:hover {background-image: linear-gradient(to bottom, #E6E6E6, #FFFFFF)}
.paginate_active{cursor:pointer;border:1px solid #aaa;line-height: 11px;text-align:center;background-color:#fff;border-radius:5px;min-width:4em;padding:3px;margin-left:3px}


div.dataset.login {width:100%}
/* put buttons in the bottom right corner */
div.dataset.login div.block {padding-bottom:30px}
div.dataset.login div.buttons {top:auto;bottom:5px;left:16%;margin:5px}

ul.autocomplete {padding: 2px;border-radius: 4px;background-color:#EEEEEE;border: 1px solid #DDDDDD;max-height: 200px;overflow-y: scroll;z-index:9999;}
ul.autocomplete li{border:1px solid #EEEEEE;border-radius: 4px;}
ul.autocomplete li.hover{border:1px solid #FFA5A5;background-color:#FFE0E0;}
ul.autocomplete li a{cursor:pointer;display:block;text-decoration: none;border-radius: 4px;color: #333333;}

#filesdropbox {width:800px;height:600px;border:3px dashed #999;border-radius:20px}
#filesdropbox .message {font-size:5em;color:#999;margin:50px 0;display:block;width:100%;text-align:center}
#filesdropbox .preview{width:195px;height: 165px;float:left;margin: 25px 0 0 60px;position: relative;text-align: center;}
#filesdropbox .preview img{max-width: 190px;max-height:130px;border:3px solid #fff;display: block;box-shadow:0 0 2px #000;}
#filesdropbox .imageHolder{display: inline-block;position:relative;}
#filesdropbox .uploaded{position: absolute;top:0;left:0;height:100%;width:100%;background: url('/img/dataset/filedropbox_done.png') no-repeat center center rgba(255,255,255,0.5);display: none;}
#filesdropbox .preview.done .uploaded{display: block;}
#filesdropbox .progressHolder{position: absolute;background-color:#252f38;height:12px;width:100%;left:0;bottom: 0;box-shadow:0 0 2px #000;}
#filesdropbox .progress{background-color:#2586d0;position: absolute;height:100%;left:0;width:0;box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;-moz-transition:0.25s;-webkit-transition:0.25s;-o-transition:0.25s;transition:0.25s;}
#filesdropbox .preview.done .progress{width:100% !important;}


div.dataset div.cbyControl {height:23px;background-color:#e8e6e3;font-size:11px;font-family:verdana}
div.dataset div.cbyControl ul:first-child{position:relative;z-index:99;margin:0 auto;float:left;line-height:13px;width:100%}
div.dataset div.cbyControl a {white-space:nowrap;display:block;cursor:pointer;color:#000;border:2px solid #d4d0c8;background-color:#d4d0c8;text-decoration:none;padding:1px 12px;margin:1px;background-repeat:no-repeat; background-position:left center}
div.dataset div.cbyControl span {display:block;background-color:#e8e6e3;color:#000;padding:3px 3px;margin:1px;}
div.dataset div.cbyControl a:hover, #cbyControl a.hover { border-color:#e8e6e3 #a59d8c #a59d8c #e8e6e3 }
div.dataset div.cbyControl a:active, #cbyControl a.checked { border-color:#a59d8c #e8e6e3 #e8e6e3 #a59d8c }
div.dataset div.cbyControl ul li { width:auto; }
div.dataset div.cbyControl ul li ul li{ width:120px; }
div.dataset div.cbyControl ul li { background-color:#d4d0c8;float: left; border-top:1px solid #bbb; border-right:1px solid #bbb;  }
div.dataset div.cbyControl ul li.separator { border-top:1px solid #888; }
div.dataset div.cbyControl ul ul { width:124px;}
div.dataset div.cbyControl ul.multiple li { width:22px; }
div.dataset div.cbyControl ul.multiple li a { padding:1px 0; text-align:center}
div.dataset div.cbyControl ul li ul { display:none; position:absolute }
div.dataset div.cbyControl ul li ul li ul{ position:absolute; margin-left:121px; margin-top:-22px }
/*div.dataset div.cbyControl ul li ul li ul a{ padding-left:2px }*/
div.dataset div.cbyControl ul li ul li ul.left{ margin-left:-121px; }
div.dataset div.cbyControl a.disabled{ color:#888 }
div.dataset div.cbyControl a.checkbox{ background-image: url(/img/dataset/checkbox_off.png); }
div.dataset div.cbyControl a.checkboxon{ background-image: url(/img/dataset/checkbox_on.png); }

div.dataset div.truncated {display:none;position:absolute;padding:5px;border:1px solid #aaa;border-radius:5px;background:#fff}

/*div.dataset.onlineregistration div.data {background-color:#fff}
div.dataset.onlineregistration div.block div.buttons{position:absolute;bottom:15px;right:50px;top:auto}
div.dataset.onlineregistration div.content {margin-left:320px;padding-bottom:30px}
div.dataset.onlineregistration table th.dataset {text-align:left !important}
div.dataset.onlineregistration table.autocolumns2 th.dataset, div.dataset.onlineregistration table.autocolumns2 td.dataset {width:25%}
div.dataset.onlineregistration table.autocolumns1 th.dataset, div.dataset.onlineregistration table.autocolumns1 td.dataset {width:50%}
div.dataset.onlineregistration table.autocolumns0 td.dataset {padding-left:160px}
div.dataset.onlineregistration input[type=text]{width:120px}
div.dataset.onlineregistration select{width:123px}
div.dataset.onlineregistration textarea {width:95%;}
div.dataset.onlineregistration div.infotop {margin:10px;color:#666}
div.dataset.onlineregistration div.infotop li {list-style:disc;margin-left:20px}
*/

/*div.dataset.onlineregistration div.block div.buttons{position:absolute;bottom:15px;right:50px;top:auto}
div.dataset.onlineregistration div.content {padding-bottom:50px}*/
div.dataset.onlineregistration td.reg-info {background-color:#f3f3f3;}
div.dataset.onlineregistration td.colx1-3 {padding-bottom: 10px;}
div.dataset.onlineregistration div.block {border:0}
div.dataset.onlineregistration div.inner {margin:0;padding:8px 0 0 10px}
div.dataset.onlineregistration div.inner div {margin-top:-3px;}
div.dataset.onlineregistration td.reg-info div.inner {margin:0;padding:10px 20px 10px 10px}
div.mode-view div.dataset.onlineregistration td.reg-info * {display:none;}
div.dataset.onlineregistration div.inner p {margin-bottom: 0.5em;}
div.dataset.onlineregistration input, div.dataset.onlineregistration select, div.dataset.onlineregistration textarea {font-family:verdana;font-size:11px;background-color:#fff;border:1px solid #999;border-radius:0px;padding:1px;}
div.dataset.onlineregistration input  {width:135px;height:16px;}
div.dataset.onlineregistration input[type="checkbox"]  {width:auto;height:16px;}
div.dataset.onlineregistration select {width:139px;height:20px;}
div.dataset.onlineregistration textarea {width:465px; margin-left:150px;}
div.dataset.onlineregistration div.charleft { margin-left:150px;font-size:0.9em}

div.dataset.onlineregistration div.reg-head {background-color:#eee;border:1px solid #ccc;padding:5px 10px;margin:-1px 0 0 -1px}
div.dataset.onlineregistration div.reg-head {cursor:pointer;background: url("/img/dataset/caret_right.png") no-repeat scroll 10px center transparent;padding-left: 20px;}
div.mode-view div.dataset.onlineregistration div.reg-head {cursor:auto;background-image:none;padding-left:10px;}
div.dataset.onlineregistration div.reg-head.open {background-image: url("/img/dataset/caret_down.png")}
div.dataset.onlineregistration div.reg-error input,div.dataset.onlineregistration div.reg-error select,div.dataset.onlineregistration div.reg-error textarea {border-color:#f00}
div.dataset.onlineregistration div.reg-error input[type=checkbox] {box-shadow:1px 1px 0px #f00}
div.dataset.onlineregistration div.reg-errortop div.reg-head:after {content: " *";color: #f00;}

div.dataset.onlineregistration div.reg-content {background-color:#fff;border:1px solid #ccc;margin:-1px 0 0 -1px; }
div.dataset.onlineregistration table {width:100%;margin:0}
div.dataset.onlineregistration tr.inactive {color:#aaa}

/*div.dataset.onlineregistration td {padding:5px}*/
div.dataset.onlineregistration td.colx1-3 {width:33.4%}
div.dataset.onlineregistration td.colx2-3 {width:66.6%}
div.dataset.onlineregistration td.colx1-2 {width:50%}

div.dataset.onlineregistration td.colx1-3 > table, div.dataset.onlineregistration td.colx2-3 > table, div.dataset.onlineregistration div.field_refWebmenu > div > table {margin:5px 0}

div.dataset.onlineregistration td div.reg-checkbox {padding-left:30px;background: url(/img/pictos/radio_off.png) no-repeat scroll 10px 8px transparent}
div.dataset.onlineregistration td div.reg-checkbox.on {background-image: url(/img/pictos/radio_on.png)}
div.dataset.onlineregistration td.reg-info li {list-style:number;margin-left:20px}
div.dataset.onlineregistration .reg-name {color:#999;font-style:italic; padding-right: 10px;}
div.dataset.onlineregistration div.reg-result {font-weight: bold; margin: 5px 0 10px;}

div.dataset.onlineregistration a.send {opacity:0.7;position:relative;width:305px;padding:8px 0;background-color: #00BE00; color: #FFFFFF; display:block; text-align:center; cursor:  pointer;}
div.dataset.onlineregistration a.send.confirm {background-color: #00BE00; }
div.dataset.onlineregistration a.send.disabled {background-color: grey;opacity:0.3;cursor:initial}
div.dataset.onlineregistration a.send.ok {opacity:1}
div.dataset.onlineregistration a.send:after {content: url("/img/dataset/checkbox_off.png");right: 10px;position:absolute}
div.dataset.onlineregistration a.send.loading:after {content: url("/img/dataset/ajax-loader-3.gif");position: absolute;right: 10px;}
div.dataset.onlineregistration a.send.ok:after {content: url("/img/dataset/checkbox_on.png");position: absolute;right: 10px;}
div.dataset.onlineregistration a.send.error:after {content: url("/img/dataset/checkbox_off.png");position: absolute;right: 10px;}

div.dataset.statsregistration div.stats table {width:481px;margin:20px 0 0 318px;color:#000}
div.dataset.statsregistration div.stats table th, div.dataset.statsregistration div.stats table td {padding:2px;border-bottom:1px solid #ccc;font-weight:normal;min-width:50px}
div.dataset.statsregistration div.stats table tr.status1 {color:#999}
div.dataset.statsregistration div.stats table tr.title,div.dataset.statsregistration div.stats table tr:hover {background-color:#eee}

ul.comment li {border-bottom:1px dashed #ddd;padding:3px;}
ul.comment span {font-style:italic;}


div.dataset.master_av div.info,div.dataset.master_ad div.info,div.dataset.master_dp div.info,div.dataset.master_cine div.info,div.dataset.master_lux div.info {
	background-color:#EEEEEE;
	border:0;
	font-style:normal;
  margin: 0 0 0 -150px;
  padding: 3px 0px;
  position: absolute;
  right: 15px;
  top: 1px;
  width: 300px;
  z-index: 1;
  text-align: right
}

.field_refParent .cbySelect {width:350px}

.multi-drag-drop {width:97%; min-height: 120px; margin:10px; border: 2px dotted #999; position:relative; border-radius:9px}
.multi-drag-drop > div {position: absolute; top:0; bottom:0; left:0; right: 0;text-align: center;}
.multi-drag-drop > div div {font-size:2em;padding:1em 0 0.5em 0}
.multi-drag-drop input {position: absolute; top:0; bottom:0; left:0; right: 0; width:100% !important; opacity:0.01;cursor:pointer}

/* textcomplete */
.dropdown-menu {border: 1px solid #777;background-color: white;}
.dropdown-menu li {border-top: 1px solid #ddd;padding: 2px 5px;}
.dropdown-menu li:first-child {border-top: none;}
.dropdown-menu li:hover, .dropdown-menu .active {background-color: rgb(110, 183, 219);}
/* SHOULD not modify */
.dropdown-menu {list-style: none;padding: 0;margin: 0;}
.dropdown-menu a {color:black !important;}
.dropdown-menu a:hover {cursor: pointer;}
/* added */
.dropdown-menu { 
	background-clip: padding-box;background-color: #fff;border: 1px solid #888;border-radius: 4px;box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);display: none;float: left;font-size: 14px;
	left: 0;list-style: outside none none;margin: 2px 0 0;min-width: 160px;padding: 5px 0;position: absolute;text-align: left;top: 100%;z-index: 1000;
}
