/* h1:after, h2:after, h3:after {
  content: attr(data-rhyme);
  color: magenta;
  font-style: italic;
  display: block;
} */

.tone--background-overwrite {
  --bgColor: rgb(230, 230, 230);
  background-color: var(--bgColor) !important;
  color: var(--bgColor) !important ;
}

.tone--angry {
  --bgColor: red;
}

.tone--confident {
  --bgColor: green;
}

.tone--joy {
  --bgColor: blue;
}

.tone--tentative {
  --bgColor: orange;
}
.tone--analytical {
  --bgColor: purple;
}

.tone--sadness {
  --bgColor: pink;
}

.tone--none {
  --bgColor: white;
}

.tone--text-visibility {
  color: rgba(0, 0, 0, 0) !important;
}

.tone--image-delete {
  background-image: none !important;
  background: none !important;
}

html.touch *:hover {
  all: initial;
  pointer-events: none !important;
}

.r-gtdqiz {
  display: none !important;
}
.r-4gszlv {
  background-color: white !important;
  background-image: none;
}

img {
  src: null !important;
  background-color: white !important;
}

* {
  border: none !important;
  cursor: pointer !important;
  pointer-events: none;
  color: var(--bgColor) !important;
  /* border-radius: 0px !important; */
}

*:hover {
  pointer-events: none;
  all: none;

  /* border-radius: 0px !important; */
}

*:active {
  pointer-events: none;
  all: none;

  /* border-radius: 0px !important; */
}

[style*="url"] {
  background-image: none;
}

[role*="banner"] {
  visibility: hidden;
}

[data-testid*="sidebarColumn"] {
  visibility: hidden;
}

[role*="button"] {
  display: none !important ;
}

[role*="link"] {
  background-image: none !important ;
  background: none !important;
  color: white !important ;
  background-color: white !important ;
}

/* :not([role*="article"]), :not([role*="article"]) * {
  visibility: hidden;
} */

/* 
.tone--hide {
  visibility: hidden;
} */

/* .bgColor {
  background-color: rgb(12, 12, 12) !important;
} */

.noImg {
  src: none;
  background-color: rgb(255, 255, 255);
}
