body {
    filter: contrast(100%) blur(0px);
    transition: filter 1s ease-in-out;
}


.custom--game-button {
    display: inline-block !important;
    background-color: rgba(255, 255, 255) !important;
    border-radius: 5px;
    outline: rgb(221,83,164) 5px solid !important;
    padding: 10px !important;
    cursor: pointer !important;
    z-index: 1000 !important;
}



















.custom-img, .custom-h  {
    transform: rotate(1deg);
    transition: all 0.1s;
    filter: blur(1px);
}

.custom-img:hover, .custom-h:hover, .custom-td:hover, .custom-label:hover, .custom-text:hover{
    /* border-radius: 100px;  */
    transform: rotate(0deg);
    filter: blur(0px);
    
}

.custom-p , .custom-li, .custom-span, .custom-th, .custom-i, .custom-button {
    transition: all 0.1s;
    transform:rotate(-1deg);
    filter: blur(1px); 
}

.custom-p:hover, .custom-li:hover, .custom-span:hover, .custom-th:hover, .custom-i:hover, .custom-button:hover{
    transform: rotate(0deg);
    filter: blur(0px);
}

.custom-a {
    transition: all 0.1s;
    transform:rotate(1deg);
    filter: blur(1px); 
}

.custom-a:hover{
    transform: rotate(0deg);
    filter: blur(0px);
}

/* .custom-div {
    transition: all 1s;
    filter: blur(0px); 
}

.custom-div:hover{
    filter: blur(0px);
} */



/* SWITCHES NOT WOKRING */
.switch-1{
    background-color: blue;
    filter: blur(5px);
  }
  .switch-2{
    background-color: rgb(0, 255, 0);
    filter: blur(10px);
  }
  
  .switch-click{
    transform: rotate(135deg);
    filter: blur(0px);
  }
   
