body {
    filter: contrast(100%) blur(0px);
    transition: filter 1s ease-in-out;
}


.custom--game-button {
    display: inline-block;
    background-color: red;
    outline: blue 1px solid;
    padding: 10px;
    cursor: pointer;
}

.custom-img, .custom-h  {
    transform: rotate(1deg);
    transition: all 0.1s;
    filter: blur(1px);
    transform: rotate(1deg);
}

.custom-img:hover, .custom-h:hover{
    /* border-radius: 100px;  */
    transform: rotate(0deg);
    filter: blur(0px);
    
}

.custom-p {
    transition: all 0.1s;
    transform:rotate(-1deg);
    filter: blur(1px); 
}

.custom-p:hover{
    transform: rotate(0deg);
    color: black;
    filter: blur(0px);
}

.custom-a {
    transition: all 0.1s;
    transform:rotate(1deg);
    filter: blur(1px); 
}

.custom-a:hover{
    transform: rotate(0deg);
    filter: blur(0px);
}


/* .custom-h {
    transition: all 0.1s;
    transform:rotate(1deg);
    filter: blur(1px); 
}

.custom-h:hover{
    transform: rotate(0deg);
    color: black;
    filter: blur(0px);
} */

.custom-li {
    transition: all 0.1s;
    transform:rotate(1deg);
    filter: blur(1px); 
}

.custom-li:hover{
    transform: rotate(0deg);
    filter: blur(0px);
}

.custom-span {
    transition: all 0.1s;
    transform:rotate(-1deg);
    filter: blur(1px); 
}

.custom-span:hover{
    transform: rotate(0deg);
    filter: blur(0px);
}

.custom-td {
    transition: all 0.1s;
    transform:rotate(1deg);
    filter: blur(1px); 
}

.custom-td:hover{
    transform: rotate(0deg);
    filter: blur(0px);
}

.custom-th {
    transition: all 0.1s;
    transform:rotate(-1deg);
    filter: blur(1px); 
}

.custom-th:hover{
    transform: rotate(0deg);
    filter: blur(0px);
}

.custom-button {
    transition: all 0.1s;
    transform:rotate(1deg);
    filter: blur(5px); 
}

.custom-button:hover{
    transform: rotate(0deg);
    filter: blur(0px);
}

/* .custom-div {
    transition: all 1s;
    filter: blur(0px); 
}

.custom-div:hover{
    filter: blur(0px);
} */

.custom-label {
    transition: all 0.1s;
    transform:rotate(1deg);
    filter: blur(1px); 
}

.custom-label:hover{
    transform: rotate(0deg);
    filter: blur(0px);
}

.custom-i {
    transition: all 0.1s;
    transform:rotate(-1deg);
    filter: blur(1px); 
}

.custom-i:hover{
    transform: rotate(0deg);
    filter: blur(0px);
}

.custom-text {
    transition: all 0.1s;
    transform:rotate(1deg);
    filter: blur(1px); 
}

.custom-text:hover{
    transform: rotate(0deg);
    filter: blur(0px);
}


/* SWITCHES NOT WOKRING */
.switch-1{
    background-color: blue;
    filter: blur(5px);
  }
  .switch-2{
    background-color: rgb(0, 255, 0);
    filter: blur(10px);
  }
  
  .switch-click{
    transform: rotate(135deg);
    filter: blur(0px);
  }
   
