body{
    background: #ffffff;
}

h1,h2,h3{
    font-family: 'Teko', sans-serif;
    font-size: 3em;
    text-align: center;
    color: blue;
  
}

p{
    color: black;
    text-align: center;
    font-size: 1.2em;
    margin-top: 0px;
}


.container {
    display: flex;
    justify-content: center;
    margin: 30px;
  }

.score{
    text-align: right;
    margin:  30px;
}

.message{
    text-align: center;
}

.bt-ok,.restart {
    background-color:blue; /* Green */
    border: none;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 2em;
}
.answer{
    margin: auto;
    }
    
.p1{
        text-align: left;
    }

.p2{
    text-align: right;
}
.restart{
    display: flex;
    justify-content: center;
}