
/* :not(:hover) {
    opacity: 0;
 }

 * {
    outline: 1px solid black !important;
 }
  */
 
  .hidden{
   opacity: 0;
}

.answerSquare{
   height: 500px;
   width: 500px;
   background-color: #555;
   position: absolute;
   z-index: 100;
}