.world2vec-modal {
  position: absolute;
  font-family: 'Helvetica';
  /* background: rgba(255, 255, 255, 1); */
  width: 33%;
  height: fit-content;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px !important;
  backdrop-filter: blur(20px);
}
